*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nlo
*.gz
*.toc
*.xdv
*.log
*.out
*.run.xml
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.log
*.synctex(busy)
*.glo
*.glsdefs
*.ist
*.acn
*.idx
*.ind
*.ilg
*.sbl
*.acr
*.alg
*.glg
*.gls
*.sym
4_images/Unterschrift.png

